# Project solution is generated into here
build/

# Project builds into here
bin/*
!bin/textures/
!bin/font/
!bin/shaders/

# Libraries which we compile ourselves
lib/

# files I use for testing purposes, and nothing else
include/stb_image_write.h

