# Project solution is generated into here
build/

# Project builds into here
bin/*
!bin/textures/
!bin/font/
!bin/shaders/

# Libraries which we compile ourselves
lib/

# Libpng generated headers
include/libpng/pnglibconf.h

